<input type="checkbox" class="filter-item"><label for="">Zone</label>
<input type="checkbox" class="filter-item"><label for="">Objective</label>
<input type="checkbox" class="filter-item"><label for="">Budget</label>
<input type="checkbox" name="" id="" class="filter-item">
<label for=""></label>
<input type="checkbox" name="" id="" class="filter-item">
<label for=""></label>
<input type="checkbox" name="" id="" class="filter-item">
<label for=""></label>
<input type="checkbox" name="" id="" class="filter-item">
<label for=""></label>
<input type="checkbox" name="" id="" class="filter-item">
<label for=""></label>
<input type="checkbox" name="" id="" class="filter-item">
<label for=""></label>
<input type="checkbox" name="" id="" class="filter-item">
<label for=""></label>
<input type="checkbox" name="" id="" class="filter-item">
<label for=""></label>
<input type="checkbox" name="" id="" class="filter-item">
<label for=""></label>
<input type="checkbox" name="" id="" class="filter-item">
<label for=""></label>