<header>
    <nav>
        <div>
            <a href="/"><img src="" alt="logo"></a>
        </div>
        <div>
            <a href="/">Investor</a>
            <a href="/pro/contact">Contact us</a>
            <a href="/logout">Log out</a>
        </div>
    </nav>
</header>