<header>
    <nav class="main-nav">
        <div>
            <a href="/"><img class="logo-nav" src="./img/keeyz-logo.png" alt="keez-logo"></a>
        </div>
        <div class="link-nav">
            <a href="/blog">Blog</a>
            <a href="/about">About</a>
            {{#unless isLoggedIn}}
            <a href="/signin">Signin</a>
            {{/unless}}
            {{#if isLoggedIn}}
            {{#if ifFormedFilled}}
            <a href="/dashboard">Dashboard</a>
            {{/if}}
            <a href="/logout">Log out</a>
            {{/if}}
            <a class="type-user" href="/pro">Pro</a>
        </div>
    </nav>
</header>