<header>
    <nav>
        <div>
            <a href="/"><img src="" alt="logo"></a>
        </div>
        <div>
            <a href="/">Investor</a>
            <a href="/pro/contact">Contact us</a>
            {{#unless isLoggedIn}}
            <a href="/pro/signin">Signin</a>
            {{/unless}}
            {{#if isLoggedIn}}
            <a href="/logout">Log out</a>
            {{/if}}
        </div>
    </nav>
</header>