<div id="list1" class="dropdown-check-list" tabindex="100">
    <div class="anchor">Select objectives</div>
    <ul class="items" class="items">
        {{!-- {{#each investors.objectives}} --}}
        <li><input data-obj="Decrease taxes" type="checkbox" />Decrease taxes</li>
        <li><input data-obj="Optimize savings"type="checkbox" />Optimize savings</li>
        <li><input data-obj="Prepare the future" type="checkbox" />Prepare the future</li>
        <li><input data-obj="Increase incomes" type="checkbox" />Increase incomes</li>
        {{/each}}
    </ul>
</div>
<div id="list2" class="dropdown-check-list" tabindex="100">
    <div class="anchor">Select areas</div>
    <ul class="items" class="items">
        <li><input type="checkbox" />Parisian surroundings</li>
        <li><input type="checkbox" />Up to 2 hours away from Paris</li>
        <li><input type="checkbox" />Up to 4 hours away form Paris</li>
    </ul>
</div>
<div id="list3" class="dropdown-check-list" tabindex="100">
    <div class="anchor">Select timeframe</div>
    <ul class="items" class="items">
        <li><input type="checkbox" />Now </li>
        <li><input type="checkbox" />In the next few months</li>
    </ul>
</div>
<div id="list4" class="dropdown-check-list" tabindex="100">
    <div class="anchor">Select income range</div>
    <ul class="items" class="items">
        <li><input type="checkbox" />less than 2000 </li>
        <li><input type="checkbox" />between 2000 and 3500</li>
        <li><input type="checkbox" />more than 3500</li>
    </ul>
</div>