<div class="wrapper">
    <div class="table">
        <div class="row header">
            <div class="cell">Have been looking since</div>
            <div class="cell">Objective(s)</div>
            <div class="cell">Revenue</div>
            <div class="cell">Area</div>
            <div class="cell">Open to construction works</div>
            <div class="cell">Cart</div>
        </div>
        
            {{#each investors}}

            {{> pro_filtered_contact_row}}

            {{/each}}
            {{#unless investors}}
            <div>
                sorry no contacts yet
            </div>
            {{/unless}}
        


    </div>
</div>

{{!-- <div class="results-wrapper">
    <table class="pro-results-table">
        <thead>
            <tr class="table-row">
                <th class="table-head">Have been looking since</th>
                <th class="table-head">Objective(s)</th>
                <th class="table-head">Revenue</th>
                <th class="table-head">Area</th>
                <th class="table-head">Open to construction works</th>
                <th class="table-head">Cart</th>
            </tr>
        </thead>

        <tbody id="tbody-contacts">
            {{#each investors}}

            {{> pro_filtered_contact_row}}

            {{/each}}
            {{#unless investors}}
            <tr>
                <td colspan="6">sorry no contacts yet</td>
            </tr>
            {{/unless}}
        </tbody>
    </table>
</div> --}}