<div class="results-wrapper">
    <table class="pro-results-table">
        <thead>
            <tr class="table-row">
                <th class="table-head">Have been looking since</th>
                <th class="table-head">Objective(s)</th>
                <th class="table-head">Revenue</th>
                <th class="table-head">Area</th>
                <th class="table-head">Open to construction works</th>
                <th class="table-head">Cart</th>
            </tr>
        </thead>

        <tbody id="tbody-contacts">
            {{#each investors}}

            {{> pro_filtered_contact_row}}

            {{/each}}
            {{#unless investors}}
            <tr>
                <td colspan="6">sorry no contacts yet</td>
            </tr>
            {{/unless}}
        </tbody>
    </table>
</div>