{{> nav_bar_investor}}

<h2>About Keeyz</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur, dolor omnis ullam, vel at cupiditate quas
    dolorum, reprehenderit expedita repellendus eum natus ratione! Sunt optio omnis blanditiis recusandae libero.
    Voluptatum.</p>