<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Keeyz</title>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link rel="stylesheet" href="/css/layout.css">
    {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}.css">
    {{/each}}

    {{#each js}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script type="module" src="/js/{{this}}.js"></script>
    {{/each}}
</head>

<body>
    <div id="page-container">
        <div id="content-wrap">
            {{{body}}}
        </div>
        <footer id="footer">
            <div class="main-footer">
                <p>Made with love in Paris ❤️</p>
                <div>
                    <a href=""><i class="fab fa-facebook"></i></a>
                    <a href=""><i class="fab fa-linkedin"></i></a>
                    <a href=""></a>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>