#page-container,#content-wrap{
    height:100%
}
.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-evenly;
    height: 90vh;
    background-image: url("/img/background-orange.png");
    background-repeat: no-repeat;
    background: cover;
    padding: 10vh 0;
}
.landing-container>h1{
    text-align: center;
    font-size: 3rem;
    color: white;
}
.value-proposition {
    display: flex;
    justify-content: space-evenly;
   margin: 5vw;
}

.value-proposition>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   max-width: 33%;
    
}

.value-proposition>div> p{
    color: white;
    font-size: 1.5rem;
    font-weight:500;
}
.value-proposition>div>a>img {
    height: 260px;
    width: auto;
}

body {
    background-color: #f48c6c;
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.section2{
    height: 100vh;
}

.text-expl{
  max-width: 60%;
  padding: 15px;
  /* text-indent: 20px; */
  color: white;
  text-align: center;
}