* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    
}

body{
    font-size: 15px;
}

.main-nav {
    height: 15vh;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E6DFDF
}

.link-nav * {
    margin-left: 50px;
}

.link-nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.logo-nav {
    width: 100px;
    height: auto;
}

.fab {
    color: white;
}

.main-footer {
    background-color: #4F5D75;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 14vh
}
#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 14vh;    /* Footer height */
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    ;            /* Footer height */
  }
