.pro-search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.headline {
    font-size: 3rem;
    padding: 20px;
}

.filter-zone {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: flex-start;
}



.pro-result-table {
    width: 80%
}



.table-row {
    display: flex;
}

hr {
    border: none;
    border-top: 3px solid #4F5D75;
    color: #4F5D75;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 70%
}

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 71vh
}

.pro-search-container>h1 {
    margin: 15px;
}

#btn-here {
    padding: 5px 10px;
    margin-bottom: 20px;
    background-color: #F48C6C;
    border-radius: 5px;
    border: none;
    height: 40px;
    border-radius: 2px;
    font-weight: 700;
    font-size: 15px;
    color: white
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: white;
    background-color: #4F5D75;
    -webkit-font-smoothing: antialiased;

    @media screen and (max-width: 580px) {
        font-size: 16px;
        line-height: 22px;
    }

}


.wrapper {
    margin: 0 auto;
    padding: 40px;
    max-width: 800px;
}

.table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    display: table;

    @media screen and (max-width: 580px) {
        display: block;
    }
}

.row {
    display: table-row;
    background: #f6f6f6;
    color: #4F5D75
}

.row:nth-of-type(odd) {
    background: #e9e9e9;
}

.row.header {
    font-weight: 900;
    color: #ffffff;
    background: #f48c6c;
    border: 1px solid #f48c6c;
}

.cell {
    padding: 6px 12px;
    display: table-cell;

    @media screen and (max-width: 580px) {
        padding: 2px 16px display: block
    }
}