{{> nav_bar_pro}}
<h2>This is where we gonna implement Stripe as strong warriors!</h2>
<div class="shopping-cart">
    <!-- Title -->
    <div class="title">
        You're one step from very qualified contacts!
    </div>

    <!-- Product #1 -->
    <div class="item">
        <div class="buttons">
            <span class="delete-btn"></span>
            <span class="like-btn"></span>
        </div>  

        <div class="image">
            <img src="img/phone.png" alt="" />
        </div>

        <div class="description">
            <p>Contact list</p>
        </div>

        <div class="quantity">
            <button class="plus-btn" type="button" name="button">
                <img src="plus.svg" alt="" />
            </button>
            <input type="text" name="name" value="1">
            <button class="minus-btn" type="button" name="button">
                <img src="minus.svg" alt="" />
            </button>
        </div>

        <div class="total-price">$549</div>
    </div>
</div>