{{> nav_bar_pro}}
<h2>My cart</h2>
<div class="shopping-cart">
    <div class="title">
        You're one step from very qualified contacts!
    </div>

    <div class="item">
        <div class="description">
            <p>Contact</p>
        </div>

        <div class="quantity">
            <p>x {{currentCart.elements.length}}</p>
        </div>

        <div class="total-price">{{currentCart.price}}€</div>
    </div>
    <div class="button-section">
        <a href="/pro/checkout/{{currentUser._id}}"><button class="btn">Buy</button></a>
    </div>
</div>