{{> nav_bar_pro}}
<div class="find-new-clients">
    <a href="/pro/search"><button>Find new contacts</button></a>
</div>
<div class="contacts-bought">
    <h1>My contacts</h1>
    {{> pro-filters}}
    {{> pro-filtered-contacts}}
</div>