{{>nav_bar_investor}}

<section class="form-container">
    <header class="form-header">
        <h1 class="form-title">Welcome Back!</h1>
        <p class="form-subtitle">Enjoy yourself and be comfortable</p>
    </header>
    <div><img id="img-sign" src="/img/sign.png" alt="cloud-connection"></div>
    
    <section class="sign-block">
        {{#if msg}}
        <p class="message {{msg.status}}">{{msg.text}}</p>
        {{/if}}
        
        <form method="post" action="/signin" id="form_user">
            <div class="form-item-wrapper">
                {{!-- <label for="email" class="label-ref label">Email</label> --}}
                <input id="email" type="email" class="input-text input" name="email" placeholder="Email" required>
            </div>
            <div class="form-item-wrapper flexed-item">
                {{!-- <label for="password" class="label-ref label">Password</label> --}}
                <input id="password" type="password" class="input-text input" placeholder="••••••" required
                    name="password">
            </div>
            <button class="button-primary">Log in !</button>
            <p class="form-sub-infos">Not registered? <a href="/signup" class="button-link-form">Create an account</a>
            </p>
        </form>
    </section>
</section>