{{<nav_bar_investor}}
<h1>My keeys blog!</h1>

{{#each articles}}
<a href="">
    <h2>Article's title</h2>
</a>
<img src="" alt="">
<p>Preview Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, dolore ea illum necessitatibus
    asperiores ducimus nisi delectus. Culpa eius amet est similique labore nam, repellat quam exercitationem. Corrupti,
    ab? Vero!</p>
{{/each}}

<div>
    <p>Restez informé sur ce qui ce passez chez Keeyz en vous inscrivant à notre newsletter</p>
    <label for="email">Email</label><input type="email" name="email">
</div>