{{<nav_bar_investor}}
<div>
    <div>
        <p>Congratulations !</p>
        <p>Your profile is complete.</p>
    </div>
    <div>
        <a href="">My partners</a>
        <a href="">My projects</a>
    </div>
</div>