{{> nav_bar_investor}}
<div class="dash">
    <div id="congrats">
        <p>
            <h2>Congratulations {{user.firstname}}!</h2>
        </p>
        <p>Your profile is complete.</p>
        <p>You can edit it <a href="/form-1" class="">here</a> anytime</p>
    </div>
    <div class="to-come">
        <div id="partners"><a href=""><button class="btn">My partners</button>
            </a>
            <p>We're currently developping this feature !</p>
        </div>
        <div id="projects"> <a href=""><button class="btn">
                    My projects
                </button> </a>
            <p>We're currently developping this feature !</p>
        </div>

    </div>
</div>