{{!-- Gérer le nom si l'investisseur est loggé ou non --}}
{{> nav_bar_investor}}
<h1 class="title">Hello {{user.name}}!</h1>


<form id="fill-my-form" method="post" action="/my-form" class="form">

    <label for="marital_status">Marital status</label>
    <select id="marital_status" required>
        <option value="" selected>
        <option disabled value="──────────">
        <option value="Domestic partnership">
        <option value="Divorced">
        <option value="Married">
        <option value="Single">
        <option value="Widowed">
    </select>

    <label for="nbr_child">How many children do you have?</label>
    <input class="input" id="nbr_child" name="nbr_child" type="number" required>

    <label for="total_revenue">What's your monthly revenue?</label>
    <input class="input" id="total_revenue" name="total_revenue" type="number" required>

    <label for="monthly_savings">What's your monthly saving capacity?</label>
    <input class="input" id="monthly_savings" name="monthly_savings" type="number" required>

    <label for="annual_revenue_taxes">What's your annual revenue taxes?</label>
    <input class="input" id="annual_revenue_taxes" name="annual_revenue_taxes" type="number" required>

    <label for="objectives">What are your main objective(s)?</label>
    <select id="objectives" required>
        <option value="" selected>
        <option disabled value="──────────">
        <option value="Example1">
        <option value="Example2">
    </select>

    <label for="construction_works">Are you willing to do some construction works?</label>
    <input type="construction_works" id="construction_works" name="construction_works" required>

    <label for="areas">Where do you want to invest?</label>
    <select id="areas" required>
        <option value="" selected>
        <option disabled value="──────────">
        <option value="One hour from Paris">
        <option value="Two hours by train from Paris">
        <option value="Anywhere ! As long as money's raining"></option>
    </select>

    <label for="timeline">When will you be ready to invest?</label>
    <select id="timeline">
        <option value="" selected>
        <option disabled value="──────────">
        <option value="Now!!!!">
        <option value="In the next few months">
    </select>

    {{!-- Adding property here  --}}
    <button class="btn">Submit my form</button>
</form>