{{!-- Gérer le nom si l'investisseur est loggé ou non --}}
{{> nav_bar_investor}}
<h1 class="title">Hello {{user.firstname}}!</h1>

<div>
    <p> Before we can help you, we have some questions for you.
        These informations are necessary so we can find the best partner to make your project get real.
    </p>
    <div class="list">Make sure you have:
        <div class="needed">
            <i class="fas fa-hourglass-start"></i>
            <li>10 minutes</li>
        </div>
        <div class="needed">
            <i></i>
            <li>Your pay sheet</li>
        </div>
        <div class="needed">
            <i></i>
            <li>Your income tax return</li>
        </div>
    </div>

</div>
<a href="/form-1"><button>Get started</button></a>