{{> nav_bar_investor}}

<div class="landing-container">
    <h1>Invest. Now.</h1>
    <div class="value-proposition">
        <div>
            <img src="/img/walking.png" alt="img">
            <p>Learn</p>
            <span>Learn all there is to know about real-estate and investment to feel confident</span>
        </div>
        <div>
            <img src="/img/key.png" alt="img">
            <p>Make it happen</p>
        </div>
        <div>
            <img src="/img/be-zen.png" alt="img">
            <p>Be supported</p>
        </div>
    </div>
</div>

