{{> nav_bar_investor}}

<div>
    <img src="" alt="background-image">
    <div class="value-proposition">
        <div>
            <h2>Learn</h2>
            <a href="https://www.flaticon.com/authors/popcorns-arts" title="Icon Pond"></a>
        </div>
        <div>
            <h2>Make it happen</h2>
            <a href="https://www.flaticon.com/authors/popcorns-arts" title="Icon Pond"></a>
        </div>
        <div>
            <h2>Be supported</h2>
            <img src="" alt="">
            <div><a href="https://www.flaticon.com/authors/popcorns-arts" title="Icon Pond"></a></div>
        </div>
    </div>
</div>