{{> nav_bar_investor}}

<div>

    <div class="value-proposition">
        <div>
            <img src="/img/walking.png" alt="img">
            <h2>Learn</h2>
        </div>
        <div>
            <img src="/img/key.png" alt="img">
            <h2>Make it happen</h2>
        </div>
        <div>
            <img src="/img/be-zen.png" alt="img">
            <h2>Be supported</h2>
        </div>
    </div>
</div>